<a href="https://colab.research.google.com/github/TXH2020/MainRepo/blob/main/Projects/Python%20SQL/Python_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python with MYSQL:

In [ ]:
!apt-get update
!apt install mysql-server

In [ ]:
!sudo service mysql start

In [ ]:
!pip install mysql-connector-python

In [4]:
#The things that I did to configure the mysql server
#Executed the following command: !mysql -u root
#After login typed: use mysql;
#Then executed the below commands: Probably the second command is the only one required but anyways
#UPDATE user SET authentication_string = PASSWORD('jtp12345') WHERE user = 'root' AND host = 'localhost'; 
#ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'jtp12345';
#Then typed exit
#To check if I could login successfully tried 
#!mysql -u root -p
#Entered password and logged in successfully. Then typed exit.

In [ ]:
#Python MySQL
import requests
response=requests.get("https://raw.githubusercontent.com/TXH2020/MainRepo/main/Projects/Python%20SQL/example.sql")
with open("mysql.sql",'wb') as file:
    file.write(response.content)

import mysql.connector as my
try:
 cnx=my.connect(user="root",host="localhost",password="jtp12345")
except my.Error as e:
 print(e)
else:
    file=open('mysql.sql','r',encoding='latin-1')
    s=file.read()
    file.close()
    l=s.split(';')
    cr=cnx.cursor()
    for i in l:
        try:
            cr.execute(i,multi=True)
        except my.Error as e:
            print(e.msg)
    cnx.commit()
    cnx.close()

try:
     cnx = my.connect(user="root",host="localhost",password="jtp12345")
except my.Error as e:
 print(e)
else:
 cr=cnx.cursor()
 print("******************")
 cr.execute("use python_mysql")
 cr.execute("Select *from books")    #Manipulate database
 k=0
 for i in cr:
     k=k+1
     print(i)
 print("No. of records=", k)
 print("******************")

 cr.execute("show columns from books")
 for i in cr:
     print(i[0])                         #Showing column names
 print("******************")

 add_book = ("INSERT INTO books"
                 "(id, title, isbn)"
                 "VALUES (%s, %s, %s)")
 book = (86,'Hello World',"1234567898784")
 cr.execute(add_book,book)            #Inserting record
 cr.execute("select count(id) from books")
 print("Number of records after inserting is=",cr.fetchall())
 print("*******************")
 cr.execute("delete from books where id=86")
 cr.execute("select count(id) from books")
 print("Number of records after deleting row with id=86 is=", cr.fetchall())
 cnx.close()
#Like this we can use any Mysql command in Python using mysql connector.

In [ ]:
!sudo service mysql stop

##Python with NoSQL(MongoDB)

In [ ]:
!sudo apt-get install mongodb

In [ ]:
!sudo apt-get update

In [ ]:
!sudo service mongodb start

In [ ]:
#Python with mongodb nosql
import pandas as pd
import pymongo as pm
import numpy as np
df = pd.read_csv (r'https://raw.githubusercontent.com/TXH2020/MainRepo/main/Projects/Python%20SQL/listings.csv')
client = pm.MongoClient('mongodb://localhost:27017/')
mydb=client['somedatabase']
if 'somecollection' in mydb.list_collection_names():
    mydb['somecollection'].drop()
mycol=mydb['somecollection']
for i in range(df.shape[0]):
    r=dict(df.iloc[i])
    try:
        mycol.insert_one(r)
    except:
        # Python 2.7.10 on Windows and Pymongo are not forgiving
        # If you have foreign data types you have to convert them
        n = {}
        for k, v in r.items():
            if isinstance(v, np.int64):
                v = int(v)
            elif isinstance(v,np.float64):
                v=float(v)
            n[k]=v
        mycol.insert_one(n)
print("No of documents=",mycol.count_documents({}))
print("Document with id=2818")
print('---------------------------')
doc=mycol.find({'id':2818})
for i in doc:
    for j in i.items():
        print(j)
client.close()

In [ ]:
!sudo service mongodb stop

##Python with Cloud SQL(Azure SQL DB)

In [ ]:
!pip install pyodbc

In [ ]:
#Python with Azure Cloud SQL. However one must create an SQL server in Azure which isn't free.
#Make sure that the database is created with sample data(AdventureWorksLT)

import pyodbc
server = 'tezserver.database.windows.net' #Enter your respective server name
database = 'somedatabase'                 #Enter your respective database name
username = 'Moto12'                       #Enter your respective usernname and password for SQL server
password = 'Hello123*'
driver= '{SQL Server}'

with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("select * from [SalesLT].[Product]")
        row = cursor.fetchone()
        while row:
            print (str(row[0]) + " " + str(row[1]))
            row = cursor.fetchone()